{# 
    ====================================================================
    Name:           button.twig
    Type:           Partial
    Since:          0.0.1
    Description:    This partial is used to generate the heading and needs a type, title and size
    Available vars: page, layout, site, link, type, color, color_text
    ====================================================================
#}

{% block button %}

	{# Set button classes as variables to prevent advanced logic inside template itself #}
	{% set btn_type = ( (button.type is defined) and (button.type != 'default') ) ? 'btn btn--' ~ button.type : 'btn' %}

	{# Set the button color #}
	{% if (button.color is not empty) and ( button.type != 'inline' ) %}
		{% set btn_color = 'btn--color-' ~ button.color %}
	{% endif %}

	{# Set the inline-button color #}
	{% if (button.color_text is not empty) and ( button.type == 'inline' ) %}
		{% set btn_color = 'btn--inline--' ~ button.color_text %}
	{% endif %}

	{# Set the buttont target (_blank or null) #}
	{% set btn_target = ( button.link.target is not empty ) ? 'target="' ~ button.link.target ~ '"' : null %}

	<a href="{{ button.link.url }}" class="{{ btn_type }} {{ ( btn_color is not empty ) ? btn_color : '' }}" {{ btn_target }}>
		{{ button.link.title|default('button text') }}
	</a>

{% endblock %}
