{# <pre class="prose max-w-none">
	{{ dump() }}
</pre> #}

{% import "macros/macro.twig" as macro %}

{% set template = [
    ['acf/column', {
        'className': '',
    }],
	['acf/column', {
        'className': '',
    }],
] %}

{% set allowed_blocks = [
    'acf/column',
] %}

{% set alignment = attributes.alignment.align %}


<div class="{{blockname}} {{blockname}}--{{alignment|default('small')}} {{attributes.class}} container my-24 {{is_preview ? 'px-8' : 'px-8 lg:px-0'}}">
	<InnerBlocks class="{{blockname}}__innerblocks flex gap-8 {{is_preview ? '[&>*]:flex-1'}}" template="{{template|json_encode()|escape}}" allowedblocks="{{allowed_blocks|json_encode()|escape}}" />
</div>