{% extends "base/block.twig"%}

{% set context = {
	data: {
		image: fields.image,
		crop: fields.crop,
		align_text: align_text|default('left'),
		align_content: align_content|default('top'),
		reverse: fields.reverse|default(false),
	},
	align_text: {
		left: 'text-left',
		center: 'text-center',
		right: 'text-right'
	},
	align_content: {
		top: 'items-start',
		center: 'items-center',
		bottom: 'items-end'
	}
} %}

{% set allowed_blocks = [
	'acf/heading',
	'acf/wysiwyg',
	'acf/buttons',
	'acf/image'
] %}

{% block block_content %}

	<div class="md:grid grid-cols-2 {{context.align_content[context.data.align_content]}} gap-8">
		<div class="{{ context.data.reverse ?: 'order-last' }} {{context.data.crop ? 'self-stretch'}}">
			{% if context.data.image %}
				<img class="object-cover w-full h-full left-4" style="object-position: {{fields.image.left}}% {{fields.image.top}}%" src="{{wp_get_attachment_image_url(context.data.image.id, context.data.size)|raw}}" alt="">
			{% endif %}
		</div>

		<div class="{{context.align_text[context.data.align_text]}} ">
			<InnerBlocks allowedblocks="{{allowed_blocks|json_encode()}}"/>
		</div>
	</div>

{% endblock %}
