{% extends "base/block.twig"%}


{% set block = {
	data: {
		image: fields.image,
		video: fields.video,
		valign: align_content,
		reverse: fields.reverse,
		crop: fields.crop
	},
	variants : {
		top: 'items-start',
		center: 'items-center',
		bottom: 'items-end'
	}
} %}

{% set allowed_blocks = [
	'acf/heading',
	'acf/wysiwyg',
	'acf/buttons',
	'acf/image'
] %}

{% block block_content %}

	<div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-8 {{block.variants[block.data.valign]}}">

		<div class="{{block.data.reverse ? 'order-last'}} {{block.data.crop ? 'self-stretch'}}">

			{% if block.data.video.video_file or block.data.video.video_embed%}
				{{include('components/video/video.twig', {
				data: {
					url: fields.video.video_file,
					embed:  fields.video.video_embed,
					poster: wp_get_attachment_image_url(block.data.image.id),
					autoplay:fields.video.autoplay_video
				}
			})}}
			{% else %}
				{{include('components/media/image.twig', {
				data: {
					id: block.data.image.id,
					top:block.data.image.top,
					left:block.data.image.left
				},
			})}}
			{% endif %}
		</div>

		<div>
			<InnerBlocks allowedblocks="{{allowed_blocks|json_encode()}}"/>
		</div>

	</div>

{% endblock %}
