{% set data = {
	id: attributes.id,
	class: attributes.class,
	align: attributes.alignment.align|default('none'),
	aligntext: attributes.alignment.aligntext|default('none'),
} %}

<pre class="prose max-w-none">
	{{ dump(data.aligntext) }}
</pre>

{% set columns = {
	2: 'lg:columns-2 gap-16',
	3: 'lg:columns-3 gap-16',
	4: 'lg:columns-2 xl:columns-4 gap-16',
} %}


{% set textalign = {
	left: 'text-left',
	center: 'text-center'
	right:'text-right'
} %}


<div data-name="{{ blockname }}" {% if data.id %} data-anchor="{{data.id}}" {% endif %} class="block align{{data.align}} isolate {{data.class}}">
	{% include "components/preview.twig" %}

	{% block content %}
		hallo
	{% endblock %}

</div>
