{% extends "./blocks/wrapper-block.twig" %}

{% set columns = {
	1 : '',
	2 : 'grid-cols-2',
	3 : 'grid-cols-3',
	4 : 'grid-cols-4',
} %}

{% block content %}

	{{include('includes/heading.twig', { 
			data: { 
				text: fields.heading.text, 
				type: fields.heading.type 
			}
		}, with_context = false)}}

	{{include('includes/prose.twig', {
			data: {
				content: fields.copy,
			}
		}, with_context = false)}}

	<div class="grid {{columns[fields.columns]}} gap-x-8 gap-y-10 lg:gap-y-16">
		{% for item in fields.features %}
			<div class="relative">
				{{include('includes/heading.twig', { 
						data: { 
							text: item.heading, 
							type: 'div'
						}
					}, with_context = false)}}

				{{include('includes/prose.twig', {
						data: {
							content: item.copy,
						}
					}, with_context = false)}}
			</div>
		{% endfor %}
	</div>

{% endblock %}
