{# 
    ====================================================================
    Name:           custom-block.twig
    Type:           Block 
    Since:          0.0.1
    Description:    A custom block
    Available vars: id (of block), classes (of block), {fields by key}, site
    ====================================================================
#}

{# <pre>{{dump() }}</pre> #}

<div id="{{ id }}" class="block block--header{{ classes }}" style="background:{{ (bg_color)? bg_color : 'transparent' }}">

	<div class="image">
        <img src="{{ image.sizes.large }}" alt="{{ image.alt }}" title="{{ image.title }}"/>
    </div>

	<h1 class="heading">{{ title }}</h1>

</div>
