{% set compDefaults = {
  data: {
    name: blockname,
	imageId: image.id,
	size: 'full',
	alt: image.alt,
	variant: aspect_ratio,
	text: copy,
	reverse: reverse,
	button: button,
  },
  classes: {
    root: classes,
    custom: 'grid md:grid-cols-2 gap-8 my-8',
  }
} %}

{# >>> Merge data / classes / variants (optional) #}
{% set props = {
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
  variants: compDefaults.variants,
} %}

<div data-block-id="{{ blockname }}" class="block {{ props.classes.root }} {{ props.classes.custom }}">

	<div>
		{{ include('components/text/text.twig', {
				data: {
					text: props.data.text ?? null,
				},
				classes: {
					custom: 'prose max-w-none'
				}
   			}, withContext = false) }}

		{% if props.data.button %}
			{{include('components/buttons/button.twig', {
				data: {
					variant: props.data.button.style,
					text: props.data.button.link.title,
					url: props.data.button.link.url,
					target: props.data.button.link.target
				},
				classes: {
					custom: 'mt-4'
				}
			}, withContext = false)}}
		{% endif %}
	</div>

	<div class="{{props.data.reverse ? 'md:order-first'}}">
		{{include('components/image/image.twig', {
			data: {
				id: props.data.imageId,
				variant: props.data.variant,
			},
		}, withContext = true)}}
	</div>

</div>
