{% import "macros/media.twig" as media %}
{% import "macros/buttons.twig" as button %}
{% import "macros/typography.twig" as type %}

<div data-block-id="{{ blockname }}" class="bg-gray-900">

	<div class="relative isolate overflow-hidden pt-14 px-8">

		{{media.wpimage(fields.image, 'full', 'absolute inset-0 -z-10 h-full w-full object-cover', is_preview)}}

		<div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
			<div class="text-center">

				{{type.heading(fields.title, 'text-4xl sm:text-6xl text-white')}}

				{% if fields.copy %}
					<div class="mt-6 text-lg leading-8 text-gray-300">{{fields.copy|raw}}</div>
				{% endif %}

				{% if fields.button %}
					<div class="mt-10 flex items-center justify-center gap-x-6">
						{{button.main(fields.button.button, fields.button.variant)}}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
