{# <pre class="prose max-w-none">
	{{ dump() }}
</pre> #}

{% import "macros/macro.twig" as macro %}

{% set template = [
    ['core/heading', {
        'level': 1,
        'placeholder': 'Heading goes here.',
        'align': 'center',
        'className': '',
    }],
    ['core/paragraph', {
        'placeholder': 'Describe here.', 
        'align': 'left', 
        'className': '',
    }],
	 ['core/buttons',{
		'className': 'mt-10',
	 },[
        ['core/button', {
			'placeholder': 'Placeholder text',
		}],
    ]]
] %}

{% set allowed_blocks = [
    'core/heading', 
    'core/paragraph',
    'core/buttons',
    'core/button',
] %}

<div class="{{blockname}} {{blockname}}--{{alignment|default('small')}} {{attributes.class}} {{is_preview ? 'px-8' : ''}}">
  <div class="container lg:grid lg:grid-cols-12 lg:gap-x-8">
    <div class="lg:col-span-7">
		<InnerBlocks class="{{blockname}}__innerblocks" template="{{template|json_encode()|escape}}" allowedblocks="{{allowed_blocks|json_encode()|escape}}"  templatelock="all"/>
    </div>
    <div class="lg:col-span-5 relative">
		{% if is_preview and fields.image == empty%}
			{{macro.preview}}
			{% else %}
			{{macro.wpimage(fields.image, 'full', ' w-full bg-gray-50 h-full object-cover')}}
		{% endif %}

	</div>
  </div>
</div>
