{# Wordpress (Link) Button #}
{% macro button(data) %}
	{% set class = {
		base: 'rounded-md bg-primary-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm',
		hover: 'hover:bg-primary-600',
		focus: 'focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600'
	} %}
	<a href="{{data.url}}" class="{{class.base}} {{class.hover}} {{class.focus}} ">{{data.title}}</a>
{% endmacro %}