{# Base Button #}
{% macro main(data, variant) %}
	{# Set overall base classes used for most variations #}
	{% set class = {
		root: 'inline-flex whitespace-nowrap items-center gap-2 rounded-md px-3.5 py-2.5 text-sm font-semibold text-white duration-300',
		hover: 'hover:rounded-sm',
		focus: 'focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 '
	}%}

	{# Create diferent variants #}
	{% set variants = {
		'primary': class|join(' ') ~ 'shadow-sm bg-primary-500 hover:bg-primary-600 focus-visible:outline-primary-600',
		'secondary': class|join(' ') ~ 'shadow-sm bg-gray-500 hover:bg-gray-600 focus-visible:outline-gray-600',
		'link': class|join(' ') ~ 'hover:underline text-black',
	} %}

	{# If button has a title then return button html/twig #}
	{% if data.title %}
		<a href="{{data.url}}" {{data.target ? 'target=' ~ data.target}} class="{{variants[variant]}}">
			{{data.title}}
			<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" class="w-5 h-5 {{icon_left ? 'order-first'}}">
				<path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"/>
			</svg>
		</a>
	{% endif %}
{% endmacro %}
