{# Image macro #}
{% macro wpimage(id, size = 'full', class = 'w-full') %}
	{{wp_get_attachment_image(id, size, null, { class: class|default('w-full') })|raw }}
{% endmacro %}

{# Preview macro #}
{% macro preview(text = 'Add content') %}
	<button class="h-full w-full bg-gray-50 flex items-center justify-center border-2 border-dashed border-gray-200">
		<span class="bg-gray-200 px-8 py-4 rounded text-gray-600 inline-flex items-center gap-2">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
			</svg>
			{{text}}
		</span>
	</button>
{% endmacro %}

{% macro video(data, class) %}

	{% if data.video_url %}

		{% set autoplay = data.video_options.autoplay %}
		{% set loop = data.video_options.loop %}
		{% set muted = data.video_options.muted %}
		{% set cover = data.video_options.cover %}

		<video class="{{class}}" {{loop ? 'loop'}} {{autoplay ? 'autoplay muted' : 'controls'}} {{muted ? 'muted'}}>
			<source src="{{data.video_url}}" type="video/mp4">
			Your browser does not support the video tag.
		</video>

	{% else %}

		<div class="aspect-video">
			{{data.video_embed|raw}}
		</div>
		
	{% endif %}
{% endmacro %}
