{# 
    ====================================================================
    Name:           content-fullwidth.twig
    Type:           Block 
    Since:          0.0.1
    Description:    A content image block
    Available vars: id (of block), classes (of block), {fields by key}, site
    ====================================================================
#}

{# <pre>{{dump() }}</pre> #}

<div id="{{ id }}" class="block block--content-fullwidth{{ classes }}" style="background:{{ ((bg_color)? bg_color : 'transparent') }}" data-align="{{ layout }}">

	<div class="content {{ text_color }}">

		{{ content|raw }}

		{% if button.url %}
			<a href="{{ button.url }}" class="btn" target="{{ ((button.target)? button.target : '_self') }}">{{ button.title }}</a>
		{% endif %}

	</div>

</div>
