{% extends "base/block.twig" %}

{# Import macros #}
{% import "macros/media.twig" as media %}
{% import "macros/icons.twig" as icon %}
{% import "macros/typography.twig" as type %}

{% block content %}

	{{type.heading(fields.pre_heading)}}
	{{type.heading(fields.heading)}}

	<div class="prose max-w-none">
		{{fields.copy|raw}}
	</div>

	<dl class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-3 lg:gap-y-16">
		{% for item in fields.features %}
			<div class="relative">
				<dt class="font-bold">
					{{item.heading}}
				</dt>
				<dd class="prose max-w-none">{{item.copy|raw}}</dd>
			</div>
		{% endfor %}
	</dl>

{% endblock %}
