{% extends "base/block.twig" %}

{# Import macros #}
{% import "macros/media.twig" as media %}
{% import "macros/typography.twig" as type %}

{# Set Content Align Classes if available #}
{% set contentalign = {
	'top': 'items-start',
	'center': 'items-center',
	'bottom': 'items-end'
}[attributes.alignment.aligncontent] ?? 'items-start' %}

{% block content %}

	<div class="lg:grid lg:grid-cols-12 lg:gap-x-8 {{contentalign}}">

		<div class="col-span-6 row-start-1 {{fields.reverse ? 'col-start-7'}}">

			{{type.heading(fields.heading)}}

			{% if fields.copy %}
				<div class="prose max-w-none">
					{{fields.copy|raw}}
				</div>
			{% endif %}

			{{include('components/button.twig', {
				data: {
					button: fields.button.button,
					variantSize: 'lg',
					icon: 'arrow-down-circle',
					reverse: true,
					iconSize: '20'
				}
			}, with_context = false)}}

		</div>

		<div class="col-span-6 row-start-1 {{fields.reverse ? 'col-start-1' : ''}}">

			{% if blockname == 'video-text' %}
				{{media.videoUrl(fields.video_url, fields.video_options, '', is_preview) }}
			{% endif %}

			{% if blockname == 'image-text' %}
				{{media.wpimage(fields.image, 'full', '')}}
			{% endif %}
		</div>

	</div>

{% endblock %}
