{% set block = {
    widthClass: 'full-width',
    colorClass: 'pretty-background',
    isImportant: true,
    textColor: '#ff0000',
    bgColor: '#ffffff',
    hidden: true,
    animationType: 'fade-in',
    somethingField: false,
    titleField: 'some block',
} %}


{% set attributes = {
    class: [
        'single-block', 
        block.widthClass, 
        block.colorClass, 
        block.isImportant ? 'important-block',
    ],
    style: {
        'color': block.textColor,
        'background-color': block.bgColor,
    },
    hidden: block.hidden,
    data: {
        animation: block.animationType,
        something: block.somethingField ? 'something' : 'not-something'
    },
    id: block.titleField
} %}


<pre>
	{{ dump( attribute(attribute(), 'class')) }}
</pre>
<pre>
	{{ dump( attribute('attributes', 'data' )) }}
</pre>


{{ attribute(attributes, 'class') is defined ? 'Method exists' : 'Method does not exist' }}

{{attribute.addClass('asdkasbjd asdkjasd')}}

<div class="{{ attributes.addClass('my-awesome-class') }}">
</div>