{# Import macros #}
{% import "macros/media.twig" as media %}

{# Set variables #}
{% set data 	= data|default('') %}
{% set class 	= class|default('') %}

{# Set video options #}
{% set autoplay = data.video_options.autoplay %}
{% set loop = data.video_options.loop %}
{% set muted = data.video_options.muted %}


{# Ouput html/twig #}
{% if is_preview and data == empty %}

	{{macro.preview('Add video')}}

{% else %}

	{% if data.video_url %}
		
		<video class="{{class}}" {{loop ? 'loop'}} {{autoplay ? 'autoplay muted' : 'controls'}} {{muted ? 'muted'}}>
			<source src="{{data.video_url}}" type="video/mp4">
			Your browser does not support the video tag.
		</video>

	{% else %}
		
		<div class="{{class}}">
			<div class="aspect-video">
				{{data.video_embed|raw}}
			</div>
		</div>

	{% endif %}

{% endif %}
