{# 
    ====================================================================
    Name:           content-image.twig
    Type:           Block 
    Since:          0.0.1
    Description:    A content image block
    Available vars: id (of block), classes (of block), {fields by key}, site
    ====================================================================
#}

{# <pre>{{dump() }}</pre> #}

<div id="{{ id }}" class="block block--content-image{{ classes }}" style="background:{{ (bg_color)? bg_color : 'transparent' }}">
	<div class="content">{{ content|raw }}</div>
	<div class="image">
		<img src="{{ image.sizes.large }}" title="{{ image.title }}"/>
	</div>
</div>
