{# <pre class="prose max-w-none">
	{{ dump() }}
</pre> #}

{% import "macros/macro.twig" as macro %}

<section data-block-id="{{ blockname }}" class="{{container[block.alignment]}} {{class}}">
	<div class="bg-gray-100">This is our block: {{blockname}}</div>
</section>