

{% set orientation = {
	vertical: 'flex-col',
	horizontal: 'flex-row'
} %}

{% set justify = {
	'left': 'justify-start',
	'right': 'justify-end',
	'space-between' : 'justify-between',
	'center' : 'justify-center'
} %}

{% set margin_top = {
	small: 'mt-2 md:mt-4 lg:mt-6',
	medium: 'mt-4 md:mt-6 lg:mt-8',
	large: 'mt-6 md:mt-8 lg:mt-10',
	xlarge: 'mt-8 md:mt-10 lg:mt-12',
} %}

<div data-block-id="{{ blockname }}" class="block w-full {{margin_top[attributes.spacing.margin.top]}}">
	<InnerBlocks class="gap-4 flex {{orientation[attributes.layout.orientation]}} {{justify[attributes.layout.justify]}}" allowedBlocks={{ json_encode(['acf/button']) }} />
</div>
